<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mims">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MIMS">
        <activity
            android:name=".FindDoctors"
            android:exported="false" />
        <activity
            android:name=".AppointmentDate"
            android:exported="false" />
        <activity
            android:name=".Appointment"
            android:exported="false" />
        <activity
            android:name=".ReceptionistHomePage"
            android:exported="false" />
        <activity
            android:name=".PatientHomePage"
            android:exported="false" />
        <activity
            android:name=".NursesHomePage"
            android:exported="false" />
        <activity
            android:name=".DoctorsHomePage"
            android:exported="false" />
        <activity
            android:name=".AdminHomePage"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".ReceptionistLogin"
            android:exported="false" />
        <activity
            android:name=".NursesLogin"
            android:exported="false" />
        <activity
            android:name=".DoctorsLogin"
            android:exported="false" />
        <activity
            android:name=".PatientLogin"
            android:exported="false" />
        <activity
            android:name=".AdminRegistration"
            android:exported="false" />
        <activity
            android:name=".NursesRegistration"
            android:exported="false" />
        <activity
            android:name=".ReceptionistRegistration"
            android:exported="false" />
        <activity
            android:name=".DoctorsRegistration"
            android:exported="false" />
        <activity
            android:name=".PatientRegistration"
            android:exported="false" />
        <activity
            android:name=".EntrySelection"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>